{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to PharmTracker</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        .splash-container {
            text-align: center;
        }
        .splash-gif {
            width: 300px;  /* GIF 크기에 맞게 조정 */
            height: auto;
        }
    </style>
</head>
<body>
    <div class="splash-container">
        <img src="{% static 'single_pages/images/medicine.gif' %}" alt="Loading" class="splash-gif">
        <h1>Welcome to PharmTracker</h1>
        <p>Loading...</p>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = "{% url 'home' %}";
        }, 3000);  // 3초 후 메인 페이지로 리다이렉트
    </script>
</body>
</html>